@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--noor-color-canvas);
  color: var(--noor-color-ink);
}

[dir="rtl"] body {
  font-family: var(--noor-font-arabic);
}

a {
  color: var(--noor-color-primary);
}
